<%= form_for(@users) do |f| %>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h2>MultirotorQnA</h2>
          <p class="lead">Ask and you will receive.<br/>This is a drone QnA forum where as a community we can ask and answer each others questions.</p>
        </div>
      </div>
    </div>

<h3>Enter email to sign up</h3>
    <div class="row">
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <%= button_tag( :class => "btn btn-primary") do %>
  	Submit 
    <% end %>	
    </div>

  </div>
<% end %>
